on:

  workflow_call:

    inputs:

      dotnet-version: 

        description: What version of dotnet should be used? (Default 8)

        type: string

        required: false

        default: 8.0.x

      dotnet-project:

        description: What is the project we want to build?

        type: string

        required: false

        default: "DEFAULT_NOT_SET"

      # This should stay a virtual repository that defaults pushes to our local.

      #  The virtual will also end up being used for base image proxy.

      artifactory-nuget-registry:

        description: Which nuget registry to use for package resolution?

        type: string

        required: false

        default: "g00098-pwc-gx-gds-nuget"





permissions:

  contents: read

  issues: read

  checks: write

  pull-requests: write

  id-token: write



jobs:

  build:

    name: Nuget - Build, Test, Publish

    runs-on: 

      group: WB-US-DEV-BUILD-RUNNERS

    # ToDo: Comment out below to enforce failures.

    # continue-on-error: true           

    env:

      DOTNET_INSTALL_DIR: "~/cli/dotnet"

    steps:    

      # Check out code

      - name: Checkout code

        if: github.event_name != 'release'

        uses: actions/checkout@v4

        with:

          fetch-depth: 0



      - name: Checkout code

        if: github.event_name == 'release'

        uses: actions/checkout@v4

        # with:

        #   fetch-depth: 0



      - name: Checkout reusable-workflows repository

        uses: actions/checkout@v4

        with:

          repository: pwc-gx-data-services/faas-gha-reusable-workflows

          ref: develop

          token: ${{ secrets.WB_GITHUB_TOKEN }}

          path: tools



      - name: Set environment variables

        run: |

          cat ./tools/variables/workflow.yaml | yq -r '.common // {} | keys[] as $k | "\($k)=\(.[$k])"' >> $GITHUB_ENV



      - name: Import Vault build secrets

        uses: hashicorp/vault-action@v3

        with:

          url: ${{ env.BUILD_VAULT_URL }}

          namespace: ${{ env.BUILD_VAULT_NAMESPACE }}

          tlsSkipVerify: true

          method: jwt

          role: ${{ env.BUILD_VAULT_ROLE_NAME }}

          secrets: |

            ${{ env.VAULT_ENGINE }}/data/us/build FAAS_JFROG_USERNAME | JFROG_USERNAME ;

            ${{ env.VAULT_ENGINE }}/data/us/build FAAS_JFROG_PASSWORD | JFROG_PASSWORD ;



      # Set an environment variable for of a "Tag" for a tagged release

      - name: Set env

        if: github.event_name == 'release'

        run: |

          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV



      - name: Setup .NET

        uses: actions/setup-dotnet@v4

        with:

          dotnet-version: ${{ inputs.dotnet-version }}



      - name: Setup GitVersion

        if: github.event_name != 'release'

        run: |

          cp ./tools/variables/gitversion.yml $GITHUB_WORKSPACE/GitVersion.yml



          # Setup installation directories

          mkdir gitversion

          cd gitversion



          # Download and extract desired GitVersion cli

          wget --no-check-certificate https://github.com/GitTools/GitVersion/releases/download/5.12.0/gitversion-linux-x64-5.12.0.tar.gz

          tar -xvf gitversion-linux-x64-5.12.0.tar.gz



          # Make sure the binary is executable.

          chmod +x gitversion



          # Move binary to bin location

          # cp gitversion /usr/local/bin/gitversion



          # Ensure there is permissions for usage of the CLI

          chmod 777 ${{github.workspace}}/gitversion

          chmod 777 $GITHUB_WORKSPACE/GitVersion.yml



      - name: Execute GitVersion

        if: github.event_name != 'release'

        run: |

          ${{github.workspace}}/gitversion/gitversion /output buildserver



      # Display versions generated by GitVersion

      - name: Display Computed Version Numbers

        if: github.event_name != 'release'

        run: |

          echo $GITHUB_ENV



      - name: Setup Variables (defaults)

        if: inputs.dotnet-project == 'DEFAULT_NOT_SET'

        run: |

          csproj_file=$(find src -name "*.csproj" | head -n 1)

          echo $csproj_file

          echo "csproj_file=$csproj_file" >> $GITHUB_ENV

      

      - name: Setup Variables (Provide csproj file)

        if: inputs.dotnet-project != 'DEFAULT_NOT_SET'

        run: |

          csproj_file=$(find src -name "${{inputs.dotnet-project}}.csproj" | head -n 1)

          echo $csproj_file

          echo "csproj_file=$csproj_file" >> $GITHUB_ENV



      # This will setup the image name and tag based on a Push event triggering it.

      - name: Set Image/Properties Versions - Push Event

        if: github.event_name != 'release'

        run: |

          # Update appropriate versions in csproj files pre compilation.

          # This is required for swagger version to reflect app version

          sed -i 's/<InformationalVersion>[^<]*<\/InformationalVersion>/<InformationalVersion>${{env.GitVersion_NuGetVersion}}<\/InformationalVersion>/g' "${{env.csproj_file}}"



          # Set version to use with dotnet pack command

          echo "nuget_version=${{env.GitVersion_NuGetVersion}}" >> $GITHUB_ENV





      # This will setup the image name and tag based on a Release/Tag event triggering it.

      #   These will be stored under a subdirectory called "Release" as potential release candidates.

      #   This will help make those images easy to find but also help with pruning efforts.

      - name: Set Image/Properties Versions - Release/Tag Event

        if: github.event_name == 'release'

        run: |

          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

          RELEASE_VERSION=${GITHUB_REF#refs/*/}

          echo "### Our Release tag is: $RELEASE_VERSION"



          # Update appropriate versions in csproj files pre compilation.

          # This is required for swagger version to reflect app version

          sed -i 's/<InformationalVersion>[^<]*<\/InformationalVersion>/<InformationalVersion>${{env.RELEASE_VERSION}}<\/InformationalVersion>/g' "${{env.csproj_file}}"

          

          # Set version to use with dotnet pack command

          echo "nuget_version=$RELEASE_VERSION" >> $GITHUB_ENV



      - name: Setup .NET

        uses: actions/setup-dotnet@v4

        with:

          dotnet-version: ${{ inputs.dotnet-version }}

    

      - name: Install dependencies

        run: |

          dotnet nuget add source "https://artifacts-west.pwc.com/artifactory/api/nuget/v3/${{ inputs.artifactory-nuget-registry }}" --name "${{ inputs.artifactory-nuget-registry }}" --username ${{ env.JFROG_USERNAME }} --password ${{ env.JFROG_PASSWORD }} --store-password-in-clear-text

          dotnet restore

          dotnet tool install --global dotnet-coverage



      - name: Pack

        run: |

          mkdir -p ${{github.workspace}}

          for csproj in $(find . -name "*.csproj")

          do

            dotnet build "$csproj" --no-restore

          done



          for csproj in $(find . -name "*.csproj")

          do

          dotnet pack $csproj -p:PackageVersion="${{ env.nuget_version }}" --output ${{github.workspace}}

          done



          # dotnet pack ${{env.csproj_file}} -p:PackageVersion="${{ env.nuget_version }}" --no-restore --output ${{github.workspace}}

      

      - name: Publish Nuget

        if: github.event_name != 'pull_request'

        run: |

          dotnet nuget add source "https://artifacts-west.pwc.com/artifactory/api/nuget/fabric-jfp-west-local-nuget-dev001" --name "Artifactory2" --username ${{ env.JFROG_USERNAME }} --password ${{ env.JFROG_PASSWORD }} --store-password-in-clear-text

          dotnet nuget push "${{github.workspace}}/*.nupkg" --source "Artifactory2" --skip-duplicate

