name: Package and Push Helm Library

on:
  release:
    types: [published]
    
run-name: ${{ github.event.release.tag_name }}

env:
  SERVICE_NAME: wb-devops-helm-library

permissions:
  contents: read

jobs:
  package:
    name: Package
    runs-on: 
      group: WB-US-DEV-RELEASE-RUNNERS
    steps:
      - uses: actions/checkout@v4
      - name: Package Helm Chart
        run: |
          HELM_CHART_PATH="./${{ env.SERVICE_NAME }}"
          sed -i 's/<library-chart-version>/${{ github.event.release.tag_name }}/' ${HELM_CHART_PATH}/templates/_version.tpl
          helm package -u --app-version ${{ env.SERVICE_NAME }}-${{ github.event.release.tag_name }} --version ${{ github.event.release.tag_name }} $HELM_CHART_PATH
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: helm-chart
          path: ./${{ env.SERVICE_NAME }}-${{ github.event.release.tag_name }}.tgz
  push:
    name: Push to Artifactory
    runs-on: 
      group: WB-US-DEV-RELEASE-RUNNERS
    needs: package
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: helm-chart
      - name: Set environment variables
        run: |
          cat ./variables/workflow.yaml | yq -r '.common // {} | keys[] as $k | "\($k)=\(.[$k])"' >> $GITHUB_ENV
      - name: Push Helm Chart
        run: |
          echo ${{ secrets.WB_JFROG_PASSWORD }} | helm registry login ${{ env.DOCKER_REGISTRY }} --username ${{ secrets.WB_JFROG_USERNAME }} --password-stdin
          helm push ${{ env.SERVICE_NAME }}-${{ github.event.release.tag_name }}.tgz oci://${{ env.DOCKER_REGISTRY }}/helm-charts
